
<div id="me">
  <img src="me.jpg"/>
</div>
<div id="space">
  <p>
   Hi! my name is Tamar, but I mostly go by "Tammy".
    Here are some fun facts about myself <3
  </p>


  <ul>
    <% @facts_array.each do |fact| %>
     <li> <img class="heart" src="heart-03.jpg"/> <%= fact %> </li>
    <% end %>
  </ul>
</div>
