  <link href="css/projects_about.css" rel= "stylesheet">


  <div id="space">
    <p>
      Hi! my name is Tamar, but I mostly go by "Tammy".
      Here are some fun facts about myself <3
    </p>

    <ul>
       <li>I am a mother of two amazing daughers</li>
       <li>I am a student in Ada Developer Academy</li>
       <li>I hate spiders but love cats</li>
       <li>I live in Seattle. I mean Kirkland </li>
       <li>I am <%= @year - @bday.year %> years old </li>
    </ul>
  </div>
