<link href = "css/stickers_candies.css" rel="stylesheet">




    <div id="me">
    <img src="me.jpg"/>
    </div>
    <div id="space">
    <p>
     Hi! my name is Tamar, but I mostly go by "Tammy".
      Here are some fun facts about myself <3
    </p>


    <ul>
       <li><img class="heart" src="heart-03.jpg"/>I am a mother of two amazing daughers</li>
       <li><img class="heart" src="heart-03.jpg"/>I am a student in Ada Developer Academy</li>
       <li><img class="heart" src="heart-03.jpg"/>I hate spiders but love cats</li>
       <li><img class="heart" src="heart-03.jpg"/>I live in Seattle. I mean Kirkland </li>
       <li><img class="heart" src="heart-03.jpg"/>I am <%= @year - @bday.year %> years old </li>
    </ul>
  </div>
