<html>
  <body>
    <head>
      <link href="css/projects_about.css" rel= "stylesheet">
    </head>

    <p class="link">
      <a href="http://localhost:9292/stickers">What Emily loves?  </a>
      <a href="http://localhost:9292/candies">What I love?  </a>
      <a href="http://localhost:9292/projects">my projects  </a>
    </p>


    <h1>About</h1>
    <div>
      Hi! my name is Tamar, but I mostly go by "Tammy".
      Here are some facts about myself <3

      <ul>
         <li>I am a mother of two amazing daughers</li>
         <li>I am a student in Ada Developer Academy</li>
         <li>I am an Israeli</li>
         <li>I live in Seattle </li>
      </ul>
    </div>

    <!-- <footer>
       <a href="https://twitter.com/TamarHershi" target="_blank">My Twitter Page.</a>
       <p>Tamar Hershenbaum, projects, names, and all related<br>indicia are trademarks of Warner Bros. &copy; 2016</p>
     </footer> -->
     <footer>
       <p>Posted by: Tamar Hershenbaum</p>
       <p>Contact information: <a href="mailto:misstamar@gmail.com">
       misstamar@gmail.com</a>.</p>
       <p>On Twitter: <a href="https://twitter.com/TamarHershi"> Twitter Page.</a>
       <p> &copy; <%= @year %> </p>
     </footer>
  </body>
</html>
