<html>
  <body>
    <head>
      <link href="css/about.css" rel= "stylesheet">
    </head>

    <h1>About</h1>

    <p>
      Hi! my name is Tamar, but I mostly go by "Tammy".
      Here are some facts about myself
    </p>
    <ul style="list-style-type:square">
       <li>I am a mother of two amazing daughers</li>
       <li>I am a student in Ada Developer Academy</li>
       <li>My favorite color is pink</li>
       <li>I love sushi => Rainbow roll  </li>
       <li> Currently I live in Seattle </li>
       <li> I am marry to the most incredible person on earth </li>
       <li> Love, but also allergic to cats </li>
    </ul>
  </body>
</html>
