<html>
  <body>
    <head>
      <link href = "css/stickers_candies.css" rel="stylesheet">
    </head>
      <h1 id=candies> CANDIES!!!!</h1>
    <img src="gummy_candies.jpg"/>



    <div>
      <h4>I love candies SO much! here some of my favorite ones </h4>
      <p>
        In my dream world I would eat candies everyday without wor
      </p>
      <ul>
        <li> White Chocolate </li>
        <li> Cotton Candy </li>
        <li> Gummi Candy </li>
        <li> peanut butter Candy </li>
        <li> Caramel Candy </li>
      </ul>
    </div>

    <img src="yum.jpg" />
  </body>
</html>
