<link href = "css/stickers_candies.css" rel="stylesheet">


  <section>

    <p id="favorite">
      My favorite candy today is: <strong> <%= @rand_candy %> </strong>
    </p>
    <div>
      <img class:"image" id="candy-pic" src="yum.jpg" />
    </div>

    <div>
      <h2>but I love so many more like... </h2>
      <ul>
      <% @candies.each do |candy| %>
        <li> <%= candy %> </li>
      <% end %>
      </ul>
    </div>
    <div>
      <img class:"image" id="candy-pic" src="yum.jpg" />
    </div>
  </section>
