<link href = "css/stickers_candies.css" rel="stylesheet">


  <section>
    <div>
      <img class:"image" src="gummy_candies.jpg"/>
    </div>
    <p id="favorite">
      My favorite candy today is: <strong> <%= @candies[rand(5)] %> </strong>
    </p>

    <div>
      <h2>but I love so many more like... </h2>
      <ul>
        <li> White Chocolate </li>
        <li> Cotton Candy </li>
        <li> Gummi Candy </li>
        <li> peanut butter Candy </li>
        <li> Caramel Candy </li>
      </ul>
    </div>
    <div>
      <img class:"image" id="candy-pic" src="yum.jpg" />
    </div>
  </section>
