<html>
  <head>
    <link href = "css/stickers_candies.css" rel="stylesheet">
    <link rel="icon" type="image" href="/.Pear.ico" />
    <div id="menu">
      <ul>
        <li><a href="http://localhost:9292/stickers">Rona loves</a></li>
        <li><a href="http://localhost:9292/candies">Emily loves</a></li>
        <li><a href="http://localhost:9292/projects">My projects</a></li>
        <li><a href="http://localhost:9292/about">About</a></li>
        <li><a href="http://localhost:9292/index">Home</a></li>
      </ul>
    </div>
    <h1> <%= @h1 %> </h1>
  </head>

  <body>
    <%=yield %>
  </body>

  <footer>
    <p>Posted by: Tamar Hershenbaum</p>
    <p>Contact information: <a href="mailto:misstamar@gmail.com">
    misstamar@gmail.com</a>.</p>
    <p>On Twitter: <a href="https://twitter.com/TamarHershi"> Twitter Page.</a>
    <p> &copy; <%= Time.new.year %> </p>
  </footer>

</html>
