
  <link href="css/projects_about.css" rel="stylesheet">


  <div>
      <img class:"heart" src="hear-03.jpg"/> <h2> Have 3 kids </h2>
      <p> Growing up as a single child, I always new that someday I will have a big family.
        so as much as it sounds weird, yes! "Have 3 kids" is a project that I'm working on
        (and not an easy one.... trust me). with 2 daughter , I have one more to go :-)
      </p>
  </div>

  <div>
    <img class:"heart" src="hear-03.jpg"/> <h2> Learn Emily to ride on bikes</h2>
    <p>
      Emily loves her bikes, but she needs instructions and help so she can feel
      safe and comfrtable. with a 1 year old baby at home it's hard to find time every
      weekend to learn her. So it's a project in process.
    </p>
  </div>

  <div>
    <img class:"heart" src="hear-03.jpg"/> <h2> Become a software developer </h2>
    <p>
      This is my dream job, the thing that I always wanted to achive.
      Now this HUGE project is happening, and I couldn't be happier. 11 more months
    </p>
  </div>
