
<link href="css/stickers_candies.css" rel="stylesheet">

<section>
  <a href="http://localhost:9292/about">Home</a>

<div>
  <img class="image" src="sticker1285.pv.png"/>
</div>
  <table id="table1">
  <table border>
      <thead>
        <tr>
          <th colspan="3" style="font-family: ariel; font-style: strong">
            Theme
          </th>
        </tr>
        <tr>
          <th>
            ___Theme___
          </th>
          <th>
            ____color____
          </th>
          <th>
            _love measure 1-10_
          </th>
        </tr>
      </thead>
      <tr>
        <td>
          Princess
        </td>
        <td>
          Pink
        </td>
        <td>
          9
        </td>
      </tr>
      <tr>
        <td >
          Baloon
        </td>
        <td>
          Blue with yellow dots
        </td>
        <td>
          8.5
        </td>
      </tr>
      <tr>
        <td >
          broken umbrealla
        </td>
        <td>
          Green
        </td>
        <td>
          3
        </td>
    </tr>
      <tr>
        <td >
          Hello Kitty
        </td>
        <td>
          Rainbow
        </td>
        <td>
          10
        </td>
    </tr>

  </table>
</section>
