<section>

<div>
  <img class="image" id="kitty" src="sticker1285.pv.png"/>
</div>
  <table id="table1">
  <table border>
      <thead>
        <tr>
          <th colspan="3">
            What Stickers Emily loves?
          </th>
        </tr>
        <tr>
          <% @title_array.each do |title| %>
          <th>
            <%= title %>
          </th>
          <% end %>
      </thead>
      <% @array_stickers.each do |sticker| %>
      <tr>
        <td>
          <%= sticker[0] %>
        </td>
        <td>
          <%= sticker[1] %>
        </td>
        <td>
          <%= sticker[2] %>
        </td>
      </tr>
      <% end %>
  </table>
</section>
