body {
  font-family: fantasy;
  margin: 0 auto;
  font-size: 14px;
  padding: 50px;
  background: #FFCCFF;
}

head {
  font-family: inherit;

}

#candy-pic {
  width: 400;
}

h2 {
  color: #990099;
  font-size: 18px;
}

.candies {
  color: #FF99CC;
}

#favorite {
  font-size: 28px;
  color: #FF0099;
  text-align: center;
}

h1{
  text-align: center;
}

#family {
  width: 600;
}

table {
  width:70%;
  margin-left:15%;
  margin-right:15%;
  border: 5px solid #006144;
  border-collapse: collapse;
  color: #CC6699;
  text-align: center;
  background-color: #330033;
}

#candies {
  color: #FFFFCC;
  font-weight: bold;
  font-size: 40px;
}

div {
  text-align: center;
}

ul {
  list-style: none
}

.image {
  text-align: center;
}


section {
  width: 960px;
  height: 750px;
  margin-left: auto;
  margin-right: auto;
}


footer  {
  display: block;
  text-align: center;
  font-size: 0.9em;
  background-color: bisque;
  margin-top: 90;
}
